<div class="done-editing gone">
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('bold');" title="Bold"><b>B</b></button>
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('italic');" title="Italic"><i>I</i></button>
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('underline');" title="Underline"><u>U</u></button>
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('strikethrough');" title="Strikethrough"><strike>S</strike></button>
  &nbsp;
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('superscript');" title="Superscript">X<sup>2</sup></button>
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('subscript');" title="Subscript">X<sub>2</sub></button>
  &nbsp;
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('InsertOrderedList', 'newOL');" title="Numbered list"><i class="fas fa-list-ol"></i></button>
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('InsertUnorderedList', 'newUL');" title="Bulleted list"><i class="fas fa-list-ul"></i></button>
  <button type="button" class="btn btn-light btn-sm" onclick="changeFormatting('removeFormat');" title="Clear formatting"><i class="fas fa-remove-format"></i></button>
  &nbsp;
  <button type="submit" class="btn btn-outline-info btn-sm">Save Changes</button>
  <button type="button" class="btn btn-outline-dark btn-sm" onclick="location.reload();">Cancel</button>
</div>
