<%- include('partials/header'); -%>
<div class="text-center">
  <br>
  <br>
  <h1 class="display-4">Success!</h1><br>
  <p>You have successfully created your account!</p>
  <p><a href="/login">Log in</a> to get started!</p>
  <br><br>
</div>


<%- include('partials/footer'); -%>
